Repository novuhq/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix

chore: update social preview image
  static/images/social-preview.jpg
Due: none

chore: update social preview image (#380)
  static/images/social-preview.jpg
Due: none

fix: correct image path in usecases index file
  src/data/pages/usecases/index.jsx
Due: prettier --write, eslint --cache --fix

chore: comment out blog page creation in gatsby-node.js
  gatsby-node.js
Due: prettier --write, eslint --cache --fix

feat: enhance error handling for WordPress media file loading
  gatsby-config.js
  gatsby-node.js
  gatsby/on-create-node.js
Due: prettier --write, eslint --cache --fix

fix: correct image path in usecases index file (#381)
  gatsby-config.js
  gatsby-node.js
  gatsby/on-create-node.js
  src/data/pages/usecases/index.jsx
Due: prettier --write, eslint --cache --fix

refactor: streamline error handling for WordPress media loading and update node creation logic
  gatsby-config.js
  gatsby-node.js
  gatsby/on-create-node.js
Due: prettier --write, eslint --cache --fix

refactor: update Gatsby configuration and remove media error handling
  gatsby-config.js
  gatsby-node.js
  gatsby/on-create-node.js
Due: prettier --write, eslint --cache --fix

Fix/fix build errors (#382)
  gatsby-config.js
  gatsby-node.js
  gatsby/on-create-node.js
Due: prettier --write, eslint --cache --fix

fix(web): update Workflows footer link to correct URL
  src/constants/links.js
Due: prettier --write, eslint --cache --fix

Footer workflows link (#383)
  src/constants/links.js
Due: prettier --write, eslint --cache --fix

fix: add throttle step limits for all tiers
  src/components/pages/pricing/pricing-table/data/pricing-plans.js
Due: prettier --write, eslint --cache --fix

feat(web): add EU data residency banner on main page
  src/components/shared/link-banner/link-banner.jsx
  src/data/link-banner.js
Due: prettier --write, eslint --cache --fix

Eu data residency banner (#385)
  src/components/shared/link-banner/link-banner.jsx
  src/data/link-banner.js
Due: prettier --write, eslint --cache --fix

web: update dashboard links from dashboard-v2 to dashboard
  src/constants/links.js
Due: prettier --write, eslint --cache --fix

Dashboard get started link (#386)
  src/constants/links.js
Due: prettier --write, eslint --cache --fix

web: add llms.txt file for AI/LLM discovery
  static/llms.txt
Due: none

web: remove headquarters from llms.txt
  static/llms.txt
Due: none

web: update Twitter URL to x.com/novuhq
  static/llms.txt
Due: none

Novu llms.txt file (#387)
  static/llms.txt
Due: none

chore: update config
  gatsby-config.js
  netlify.toml
Due: prettier --write, eslint --cache --fix

feat: enhance image handling in gatsby-config
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

fix: increase timeout for image processing in gatsby-config
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

chore: update config (#388)
  gatsby-config.js
  netlify.toml
Due: prettier --write, eslint --cache --fix

fix: update redirects to production domain
  netlify.toml
Due: none

fix: update redirects to production domain (#389)
  netlify.toml
Due: none

fix: fix canonical urls for SEO
  gatsby-node.js
  netlify.toml
  src/components/shared/seo/seo.jsx
  src/pages/digest.jsx
  src/pages/inbox.jsx
  src/pages/index.jsx
  src/pages/security.jsx
  src/pages/usecases.jsx
  src/pages/usecases/add-notifications.jsx
  src/pages/usecases/content-management.jsx
  src/pages/usecases/improve-communication-experience.jsx
  src/pages/usecases/multi-channel-notifications.jsx
  src/pages/usecases/unified-platform.jsx
  src/templates/contributor.jsx
Due: prettier --write, eslint --cache --fix

web: add Plain live chat widget to root layout
  gatsby-ssr.js
Due: prettier --write, eslint --cache --fix

fix: update contributors links
  src/components/pages/contributors/achievements/item/item.jsx
  src/utils/contributors-utils.js
Due: prettier --write, eslint --cache --fix

fix: revert unnecessary changes
  LATEST_COMMIT.md
  package-lock.json
Due: prettier --write, markdownlint --fix

fix: update canonical urls for SEO (#390)
  gatsby-node.js
  netlify.toml
  package-lock.json
  src/components/pages/contributors/achievements/item/item.jsx
  src/components/shared/seo/seo.jsx
  src/pages/digest.jsx
  src/pages/inbox.jsx
  src/pages/index.jsx
  src/pages/security.jsx
  src/pages/usecases.jsx
  src/pages/usecases/add-notifications.jsx
  src/pages/usecases/content-management.jsx
  src/pages/usecases/improve-communication-experience.jsx
  src/pages/usecases/multi-channel-notifications.jsx
  src/pages/usecases/unified-platform.jsx
  src/templates/contributor.jsx
  src/utils/contributors-utils.js
Due: prettier --write, eslint --cache --fix

feat: optimize gatsby-source-wordpress for dev and preview builds
  gatsby-config.js
  netlify.toml
  package-lock.json
  package.json
Due: prettier --write, eslint --cache --fix

chore: uninstall netlify-plugin-gatsby-cache
  netlify.toml
  package-lock.json
  package.json
Due: none

fix: remove some types from exclusions
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

fix: remove types exclusion
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

fix: set posts limit 3, remove createBlogPages
  gatsby-config.js
  gatsby-node.js
Due: prettier --write, eslint --cache --fix

fix: limit types of posts
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

fix: remove limit of category
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

fix: types posts limit
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,mjs,jsx,html,css,md}
  eslint --cache --fix: any of: *.{js,mjs,jsx}
  markdownlint --fix: any of: *.md
