Repository novuhq/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix

fix: proxy for integration-icons
  netlify.toml
Due: none

fix: proxy for integration-icons (#406)
  netlify.toml
Due: none

fix: forward UTM params from landing pages to signup links
  gatsby-browser.js
Due: prettier --write, eslint --cache --fix

fix: address CodeRabbit review feedback
  gatsby-browser.js
Due: prettier --write, eslint --cache --fix

fix: harden getStoredUtmParams() to validate parsed shape
  gatsby-browser.js
Due: prettier --write, eslint --cache --fix

fix: forward UTM params from landing pages to signup links (#407)
  gatsby-browser.js
Due: prettier --write, eslint --cache --fix

feat: mcp page
  netlify.toml
  src/components/shared/header/header.jsx
  src/components/shared/link/link.jsx
  src/constants/links.js
  src/constants/menus.js
  src/data/link-banner.js
  static/videos/mcp.mp4
Due: prettier --write, eslint --cache --fix

fix: update package-lock and adjust image dimensions in usecases page
  package-lock.json
  src/data/pages/usecases/index.jsx
Due: prettier --write, eslint --cache --fix

fix: update package-lock and adjust image dimensions in usecases page (#410)
  package-lock.json
  src/data/pages/usecases/index.jsx
Due: prettier --write, eslint --cache --fix

feat: add Novu Copilot under AI menu and proxy /copilot
  netlify.toml
  src/components/shared/header/dropdown/dropdown.jsx
  src/components/shared/link/link.jsx
  src/constants/links.js
  src/constants/menus.js
  static/videos/copilot.hevc.mp4
  static/videos/copilot.webm
Due: prettier --write, eslint --cache --fix

fix: update videos
  static/videos/copilot.hevc.mp4
  static/videos/copilot.webm
Due: none

feat: copilot page (#411)
  netlify.toml
  src/components/shared/header/dropdown/dropdown.jsx
  src/components/shared/link/link.jsx
  src/constants/links.js
  src/constants/menus.js
  static/videos/copilot.hevc.mp4
  static/videos/copilot.webm
Due: prettier --write, eslint --cache --fix

feat: add CommonRoom signals script
  gatsby-ssr.js
Due: prettier --write, eslint --cache --fix

feat: integrate CommonRoom visitor identification in subscription forms
  src/components/shared/cta-with-subscribe-form/cta-with-subscribe-form.jsx
  src/components/shared/subscribe-form/subscribe-form.jsx
  src/hooks/use-hubspot-form.js
  src/utils/common-room-signals.js
Due: prettier --write, eslint --cache --fix

Revert "feat: integrate CommonRoom visitor identification in subscription forms"
  src/components/shared/cta-with-subscribe-form/cta-with-subscribe-form.jsx
  src/components/shared/subscribe-form/subscribe-form.jsx
  src/hooks/use-hubspot-form.js
  src/utils/common-room-signals.js
Due: prettier --write, eslint --cache --fix

feat: add commomroom script (#412)
  gatsby-ssr.js
  src/components/shared/cta-with-subscribe-form/cta-with-subscribe-form.jsx
Due: prettier --write, eslint --cache --fix

chore(web): add pnpm minimum-release-age of 3 days
  .npmrc
Due: none

chore(web): add pnpm minimum-release-age of 3 days (fixes MRK-1722) (#413)
  .npmrc
Due: none

chore: pin GitHub Actions to commit SHAs (fixes MRK-1744)
  .github/workflows/pr-checks.yml
Due: none

web: add auth.md agent credential guide for novu.co
  static/auth.md
Due: prettier --write, markdownlint --fix

web: add auth.md agent credential guide (fixes MRK-1750) (#415)
  static/auth.md
Due: prettier --write, markdownlint --fix

chore: setup proxy for connect page
  netlify.toml
  src/components/shared/link/link.jsx
  src/constants/links.js
  static/videos/pages/connect/cta.hevc.mp4
  static/videos/pages/connect/cta.webm
  static/videos/pages/connect/hero.hevc.mp4
  static/videos/pages/connect/hero.webm
  static/videos/pages/connect/how-it-works/blob-connect.hevc.mp4
  static/videos/pages/connect/how-it-works/blob-connect.jpg
  static/videos/pages/connect/how-it-works/blob-connect.webm
  static/videos/pages/connect/how-it-works/blob.hevc.mp4
  static/videos/pages/connect/how-it-works/blob.jpg
  static/videos/pages/connect/how-it-works/blob.webm
  static/videos/pages/connect/how-it-works/chat.hevc.mp4
  static/videos/pages/connect/how-it-works/chat.jpg
  static/videos/pages/connect/how-it-works/chat.webm
  static/videos/pages/connect/how-it-works/connect.hevc.mp4
  static/videos/pages/connect/how-it-works/connect.jpg
  static/videos/pages/connect/how-it-works/connect.webm
  static/videos/pages/connect/how-it-works/tools.hevc.mp4
  static/videos/pages/connect/how-it-works/tools.jpg
  static/videos/pages/connect/how-it-works/tools.webm
Due: prettier --write, eslint --cache --fix

chore: setup proxy for connect page (#416)
  netlify.toml
  src/components/shared/link/link.jsx
  src/constants/links.js
  static/videos/pages/connect/cta.hevc.mp4
  static/videos/pages/connect/cta.webm
  static/videos/pages/connect/hero.hevc.mp4
  static/videos/pages/connect/hero.webm
  static/videos/pages/connect/how-it-works/blob-connect.hevc.mp4
  static/videos/pages/connect/how-it-works/blob-connect.jpg
  static/videos/pages/connect/how-it-works/blob-connect.webm
  static/videos/pages/connect/how-it-works/blob.hevc.mp4
  static/videos/pages/connect/how-it-works/blob.jpg
  static/videos/pages/connect/how-it-works/blob.webm
  static/videos/pages/connect/how-it-works/chat.hevc.mp4
  static/videos/pages/connect/how-it-works/chat.jpg
  static/videos/pages/connect/how-it-works/chat.webm
  static/videos/pages/connect/how-it-works/connect.hevc.mp4
  static/videos/pages/connect/how-it-works/connect.jpg
  static/videos/pages/connect/how-it-works/connect.webm
  static/videos/pages/connect/how-it-works/tools.hevc.mp4
  static/videos/pages/connect/how-it-works/tools.jpg
  static/videos/pages/connect/how-it-works/tools.webm
Due: prettier --write, eslint --cache --fix

feat: add homepage connect section
  src/components/pages/home-new/code-with-inbox/code-with-inbox.jsx
  src/components/pages/home-new/connect/connect.jsx
  src/components/pages/home-new/connect/images/blob.jpg
  src/components/pages/home-new/connect/index.js
  src/components/shared/reusable-sections/inbox/inbox-component/inbox-component.jsx
  src/components/shared/reusable-sections/inbox/inbox-component/slider.css
  src/pages/index.jsx
Due: prettier --write, eslint --cache --fix

chore: update package lock
  package-lock.json
Due: none

fix: align homepage button sizes
  src/components/pages/home-new/connect/connect.jsx
  src/components/shared/reusable-sections/code-section-new/code-section-new.jsx
  src/components/shared/reusable-sections/cta-with-form/cta-with-form.jsx
  src/components/shared/reusable-sections/text-with-picture/text-with-picture.jsx
  src/data/pages/index/index.jsx
Due: prettier --write, eslint --cache --fix

chore: add proxy for book a demo page
  netlify.toml
  src/components/shared/link/link.jsx
  src/constants/links.js
Due: prettier --write, eslint --cache --fix

feat: add markdown versions for website pages
  .husky/commit-msg
  .husky/pre-commit
  gatsby-node.js
  gatsby/markdown-middleware.js
  netlify.toml
  netlify/edge-functions/markdown.ts
  src/components/shared/seo/seo.jsx
  static/sitemap.md
Due: prettier --write, eslint --cache --fix, markdownlint --fix

fix: point dashboard CTAs to root URL
  src/components/pages/pricing/hero-with-cards/cloud/cloud.jsx
  src/components/pages/pricing/pricing-table/data/pricing-plans.js
  src/constants/links.js
  src/data/pages/framework/index.jsx
  src/data/pages/pricing/index.js
Due: prettier --write, eslint --cache --fix

web: add RFC 8288 Link headers for agent discovery
  gatsby-config.js
  static/.well-known/api-catalog
Due: prettier --write, eslint --cache --fix

remove unused link
  src/constants/links.js
Due: prettier --write, eslint --cache --fix

chore: add proxy for book a demo page (#419)
  netlify.toml
  src/components/shared/link/link.jsx
Due: prettier --write, eslint --cache --fix

web: add redirect for /agents.md to website-new
  netlify.toml
Due: none

web: add redirect for /agents.md to website-new (fixes MRK-1800) (#422)
  netlify.toml
Due: none

web: redirect llms.txt to website-new (MRK-1801)
  netlify.toml
  static/llms.txt
Due: none

Path conditions:
  prettier --write: any of: *.{js,mjs,jsx,html,css,md}
  eslint --cache --fix: any of: *.{js,mjs,jsx}
  markdownlint --fix: any of: *.md
