Repository novuhq/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix

refactor(analytics): drop comments from demo-booking tracking per code style
  gatsby-browser.js
Due: prettier --write, eslint --cache --fix

fix: harden markdown page handling
  gatsby/markdown-middleware.js
  netlify/edge-functions/markdown.js
  package.json
  src/utils/markdown.js
  tests/markdown.test.js
Due: prettier --write, eslint --cache --fix

feat(analytics): fire attributed demo_booked event on Cal.com bookings (#438)
  gatsby-browser.js
Due: prettier --write, eslint --cache --fix

fix: refine markdown edge routing
  netlify.toml
  src/components/shared/seo/seo.jsx
  src/utils/get-page-urls.js
  src/utils/markdown.js
  tests/markdown.test.js
Due: prettier --write, eslint --cache --fix

feat: add markdown versions for website pages (#418)
  .husky/commit-msg
  .husky/pre-commit
  gatsby-node.js
  gatsby/markdown-middleware.js
  netlify.toml
  netlify/edge-functions/markdown.js
  package.json
  src/components/shared/seo/seo.jsx
  src/utils/get-page-urls.js
  src/utils/markdown.js
  static/sitemap.md
  tests/markdown.test.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix

fix: resolve markdown edge import
  netlify/edge-functions/markdown.js
Due: prettier --write, eslint --cache --fix

fix: load markdown utils in edge runtime
  netlify/edge-functions/markdown.js
  src/utils/markdown.js
  tests/markdown.test.js
Due: prettier --write, eslint --cache --fix

fix: resolve markdown edge import (#439)
  netlify/edge-functions/markdown.js
  src/utils/markdown.js
  tests/markdown.test.js
Due: prettier --write, eslint --cache --fix

feat: add proxy settings for md-versions of nextjs pages
  netlify.toml
  package-lock.json
Due: none

feat: add proxy settings for md-versions of nextjs pages (#440)
  netlify.toml
  package-lock.json
Due: none

web: redirect /docs to docs.novu.co
  netlify.toml
  redirects.json
Due: none

fix(NV-8137): redirect novu.co/docs to docs.novu.co (#441)
  netlify.toml
  redirects.json
Due: none

feat: add careers redirect and update careers link
  netlify.toml
  src/constants/links.js
Due: prettier --write, eslint --cache --fix

feat: add careers redirect and update careers link (#442)
  netlify.toml
  src/constants/links.js
Due: prettier --write, eslint --cache --fix

feat: add career media assets including poster and videos
  static/videos/pages/careers/poster.jpg
  static/videos/pages/careers/video.mp4
  static/videos/pages/careers/video.webm
Due: none

feat: add career media assets including poster and videos (#443)
  static/videos/pages/careers/poster.jpg
  static/videos/pages/careers/video.mp4
  static/videos/pages/careers/video.webm
Due: none

web: proxy integrations.json and OpenAPI redirects (fixes MRK-1907)
  gatsby-config.js
  netlify.toml
Due: prettier --write, eslint --cache --fix

feat: update menu
  src/constants/menus.js
Due: prettier --write, eslint --cache --fix

feat: update menu (#445)
  src/constants/menus.js
Due: prettier --write, eslint --cache --fix

fix: proxy careers detail pages to new website
  netlify.toml
Due: none

fix: proxy careers detail pages to new website (#446)
  netlify.toml
Due: none

fix(web): prevent scroll-to-top overlap with Plain chat fixes NV-8346
  src/components/shared/floating-button/floating-button.jsx
Due: prettier --write, eslint --cache --fix

fix(web): prevent scroll-to-top overlap with Plain chat fixes NV-8346 (#448)
  src/components/shared/floating-button/floating-button.jsx
Due: prettier --write, eslint --cache --fix

Update index.jsx
  src/data/pages/index/index.jsx
Due: prettier --write, eslint --cache --fix

Delete src/images/customers/logo-walton-enterprises.svg
  src/images/customers/logo-walton-enterprises.svg
Due: none

Update customers logo images (#449)
  src/data/pages/index/index.jsx
  src/images/customers/logo-walton-enterprises.svg
Due: prettier --write, eslint --cache --fix

chore: add icon
  src/components/shared/header/dropdown/dropdown.jsx
  src/icons/header/menu/channels-arrow-right.inline.svg
Due: prettier --write, eslint --cache --fix

chore: add proxy
  netlify.toml
Due: none

feat: disable Novu Connect banner
  src/data/link-banner.js
Due: prettier --write, eslint --cache --fix

feat: disable Novu Connect banner (#451)
  src/data/link-banner.js
Due: prettier --write, eslint --cache --fix

feat: adjust menu design
  src/components/shared/header/menu-icon/menu-icon.jsx
  src/components/shared/mobile-menu/inner-menu/inner-menu.jsx
  src/constants/links.js
  src/constants/menus.js
  src/icons/header/menu/channels-claude-aws.inline.svg
  src/icons/header/menu/channels-vercel.inline.svg
Due: prettier --write, eslint --cache --fix

feat: adjust menu design (#452)
  src/components/shared/header/menu-icon/menu-icon.jsx
  src/components/shared/mobile-menu/inner-menu/inner-menu.jsx
  src/constants/links.js
  src/constants/menus.js
  src/icons/header/menu/channels-claude-aws.inline.svg
  src/icons/header/menu/channels-vercel.inline.svg
Due: prettier --write, eslint --cache --fix

feat: add AI agent onboarding link to footer
  src/components/shared/footer/footer.jsx
Due: prettier --write, eslint --cache --fix

chore: align copy position
  src/components/shared/footer/footer.jsx
Due: prettier --write, eslint --cache --fix

Add AI agent onboarding link to footer (#453)
  src/components/shared/footer/footer.jsx
Due: prettier --write, eslint --cache --fix

fix(netlify): proxy no-reply-is-dead page
  netlify.toml
Due: none

fix(link): force navigation for proxied landing page
  src/components/shared/link/link.jsx
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,mjs,jsx,html,css,md}
  eslint --cache --fix: any of: *.{js,mjs,jsx}
  markdownlint --fix: any of: *.md
