Repository novuhq/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix

.lintstagedrc:

{
  "*.{js,mjs,jsx,html,css,md}": "prettier --write",
  "*.{js,mjs,jsx}": "eslint --cache --fix",
  "*.md": "markdownlint --fix"
}

fix: inbox background
  src/components/shared/reusable-sections/inbox/container/container.jsx
  src/pages/index.jsx
Due: prettier --write, eslint --cache --fix

feat: upgrade minor and patch updates
  package-lock.json
  package.json
  src/pages/testpages/reusable-components.jsx
Due: prettier --write, eslint --cache --fix

chore: update package-lock
  package-lock.json
Due: none

chore: update animation language
  src/components/pages/home/hero/animation/data.js
Due: prettier --write, eslint --cache --fix

chore: minor language tweaks
  src/components/pages/home/hero/animation/data.js
Due: prettier --write, eslint --cache --fix

chore: update pricing table
  src/components/pages/pricing/pricing-table/data/pricing-plans.js
Due: prettier --write, eslint --cache --fix

Hero animation (#263)
  community-heroes-cache.json
  gatsby-config.js
  gatsby-node.js
  package-lock.json
  package.json
  src/components/pages/home/hero/animation/animation.jsx
  src/components/pages/home/hero/animation/data.js
  src/components/pages/home/hero/animation/index.js
  src/components/pages/home/hero/hero.jsx
  src/components/pages/home/hero/images/light.png
  src/components/pages/home/integration/integration.jsx
  src/components/pages/home/logos/logos.jsx
  src/components/shared/reusable-sections/inbox/inbox.jsx
  src/components/shared/rive-animation/index.js
  src/components/shared/rive-animation/rive-animation.jsx
  src/components/shared/rive-wasm/index.js
  src/components/shared/rive-wasm/rive-wasm.jsx
  src/constants/links.js
  src/hooks/use-rive-animation.js
  src/pages/index.jsx
  static/animations/pages/home/hero/new-hero.riv
Due: prettier --write, eslint --cache --fix

chore: fix cases
  src/components/pages/pricing/pricing-table/data/pricing-plans.js
Due: prettier --write, eslint --cache --fix

chore: update pricing table (#278)
  src/components/pages/pricing/pricing-table/data/pricing-plans.js
Due: prettier --write, eslint --cache --fix

feat: upgrade major updates
  DEPENDENCY_UPDATES.md
  package-lock.json
  package.json
Due: prettier --write, markdownlint --fix

chore: fix typo
  DEPENDENCY_UPDATES.md
Due: prettier --write, markdownlint --fix

chore: move section with logos to main page
  src/components/shared/reusable-sections/section-with-logos/section-with-logos.jsx
  src/pages/index.jsx
  src/pages/testpages/reusable-components.jsx
Due: prettier --write, eslint --cache --fix

chore: minor fix
  src/pages/index.jsx
Due: prettier --write, eslint --cache --fix

chore: fix typo
  src/pages/index.jsx
Due: prettier --write, eslint --cache --fix

feat: refactor hero animation, divide hooks
  src/components/pages/home/hero/animation/animation.jsx
  src/components/pages/home/hero/animation/use-animation-setup.js
  src/components/pages/home/hero/animation/use-animation.js
  src/components/pages/home/hero/animation/use-gsap-animations.js
Due: prettier --write, eslint --cache --fix

chore: minor update
  src/components/pages/home/hero/animation/use-gsap-animations.js
Due: prettier --write, eslint --cache --fix

fix: brevo naming
  src/components/pages/old-homepage/simple-use/simple-use.jsx
  src/constants/menus.js
Due: prettier --write, eslint --cache --fix

fix: use novu changelog url
  src/constants/links.js
Due: prettier --write, eslint --cache --fix

feat: refactoring the hook use-gsap
  src/components/pages/home/hero/animation/animation.jsx
  src/components/pages/home/hero/animation/use-gsap-animations.js
  src/components/pages/home/hero/animation/use-gsap-positioning.js
Due: prettier --write, eslint --cache --fix

Update links.js
  src/constants/links.js
Due: prettier --write, eslint --cache --fix

fix: use novu changelog url (#281)
  src/constants/links.js
Due: prettier --write, eslint --cache --fix

chore: re-order homepage section
  src/pages/index.jsx
Due: prettier --write, eslint --cache --fix

feat: section with logos (#275)
  package-lock.json
  src/components/shared/reusable-sections/section-with-logos/section-with-logos.jsx
  src/components/shared/reusable-sections/testimonials/testimonials.jsx
  src/images/reusable-sections/section-with-logos/allstar.svg
  src/images/reusable-sections/section-with-logos/axios-hq.svg
  src/images/reusable-sections/section-with-logos/bask.svg
  src/images/reusable-sections/section-with-logos/capgemini.svg
  src/images/reusable-sections/section-with-logos/mongodb.svg
  src/images/reusable-sections/section-with-logos/mothership.svg
  src/images/reusable-sections/section-with-logos/roche.svg
  src/images/reusable-sections/section-with-logos/runn.svg
  src/images/reusable-sections/section-with-logos/salad.svg
  src/images/reusable-sections/section-with-logos/siemens.svg
  src/images/reusable-sections/section-with-logos/teoco.svg
  src/images/reusable-sections/section-with-logos/unity.svg
  src/pages/index.jsx
  src/styles/hubspot-form.css
Due: prettier --write, eslint --cache --fix

feat: dependencies upgrade (#279)
  DEPENDENCY_UPDATES.md
  package-lock.json
  package.json
  src/pages/testpages/reusable-components.jsx
Due: prettier --write, eslint --cache --fix, markdownlint --fix

feat: refactor hero animation, divide hooks (#280)
  src/components/pages/home/hero/animation/animation.jsx
  src/components/pages/home/hero/animation/use-animation-setup.js
  src/components/pages/home/hero/animation/use-animation.js
  src/components/pages/home/hero/animation/use-gsap-animations.js
  src/components/pages/home/hero/animation/use-gsap-positioning.js
Due: prettier --write, eslint --cache --fix

fix: inbox background (#276)
  src/components/shared/reusable-sections/inbox/container/container.jsx
  src/pages/index.jsx
Due: prettier --write, eslint --cache --fix

feat: add proxy for /inbox/playground page
  gatsby-config.js
  netlify.toml
Due: prettier --write, eslint --cache --fix

feat: change proxy from middleware to default proxy config
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

fix: add rewrite rules for assets
  gatsby-config.js
  netlify.toml
Due: prettier --write, eslint --cache --fix

fix: add proxying for assets and scripts
  netlify.toml
Due: none

feat: update logos on main page
  src/images/reusable-sections/section-with-logos/bask.svg
  src/images/reusable-sections/section-with-logos/teoco.svg
Due: none

feat: remade tweet section
  community-heroes-cache.json
  src/api/hubspot.js
  src/components/pages/add-notifications/related-content/data.js
  src/components/pages/community/get-involved/get-involved.jsx
  src/components/pages/content-management/related-content/data.js
  src/components/pages/hacktoberfest/issues/issues.jsx
  src/components/pages/home/reviews/reviews.css
  src/components/pages/home/reviews/reviews.jsx
  src/components/pages/improve-communication-experience/related-content/data.js
  src/components/pages/pricing/faq/question/question.jsx
  src/components/pages/timeline/timeline/timeline.css
  src/components/pages/use-case/content/content.jsx
  src/components/pages/use-case/workflow/workflow.jsx
  src/components/shared/banner/banner.jsx
  src/icons/review-arrow.inline.svg
  src/pages/index.jsx
  src/styles/remove-autocomplete-styles.css
  src/templates/landing.jsx
Due: prettier --write, eslint --cache --fix

fix: update free tier ui worklfow availability time
  src/components/pages/pricing/pricing-table/data/pricing-plans.js
Due: prettier --write, eslint --cache --fix

fix: update free tier ui workflow availability time (#284)
  src/components/pages/pricing/pricing-table/data/pricing-plans.js
Due: prettier --write, eslint --cache --fix

chore: illustration upd
  src/images/pages/inbox/inbox-reddit-example.webp
  src/images/pages/inbox/reddit-illustration.png
  src/pages/inbox.jsx
Due: prettier --write, eslint --cache --fix

fix: fix assets proxy for inbox page
  netlify.toml
Due: none

fix: fix proxy for logo
  netlify.toml
Due: none

fix: fix proxy for playground api
  netlify.toml
Due: none

feat: create landing pages and images
  src/images/workflow-dash-2.0.png
  src/images/workflow-email-dash-2.0.png
  src/pages/landing/gui-workflows.jsx
  src/pages/landing/react-email-blocks.jsx
Due: prettier --write, eslint --cache --fix

chore: update form ID
  src/pages/landing/gui-workflows.jsx
Due: prettier --write, eslint --cache --fix
