Repository novuhq/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix

.lintstagedrc:

{
  "*.{js,mjs,jsx,html,css,md}": "prettier --write",
  "*.{js,mjs,jsx}": "eslint --cache --fix",
  "*.md": "markdownlint --fix"
}

fix(MRK-1801): Redirect llms.txt to website-new (#423)
  netlify.toml
  static/llms.txt
Due: none

feat(web): redirect /auth.md to website-new (fixes MRK-1802)
  netlify.toml
  static/auth.md
Due: prettier --write, markdownlint --fix

feat(web): redirect /auth.md to website-new (fixes MRK-1802) (#424)
  netlify.toml
  static/auth.md
Due: prettier --write, markdownlint --fix

web: proxy /robots.txt to website-new
  netlify.toml
Due: none

web: add RFC 8288 Link headers for agent discovery (fixes MRK-1796)
  gatsby-config.js
  static/.well-known/api-catalog
Due: prettier --write, eslint --cache --fix

fixes MRK-1808: Proxy robots.txt to website-new (#425)
  netlify.toml
Due: none

feat(web): redirect /.well-known/agent-skills to website-new (fixes MRK-1809)
  netlify.toml
Due: none

feat(web): redirect /.well-known/agent-skills to website-new (fixes MRK-1809) (#427)
  netlify.toml
Due: none

web: proxy api-catalog and add homepage Link headers (fixes MRK-1796)
  netlify.toml
Due: none

web: add homepage Link headers via gatsby-config (fixes MRK-1796)
  gatsby-config.js
  netlify.toml
Due: prettier --write, eslint --cache --fix

web: proxy api-catalog and add homepage Link headers (fixes MRK-1796) (#428)
  gatsby-config.js
  netlify.toml
Due: prettier --write, eslint --cache --fix

feat: add redirect for /book-a-demo-connect
  netlify.toml
Due: none

feat: add redirect for /book-a-demo-connect (#429)
  netlify.toml
Due: none

feat: add ACI component to homepage with responsive design and images
  src/components/pages/home-new/aci/aci.jsx
  src/components/pages/home-new/aci/images/image-mobile.png
  src/components/pages/home-new/aci/images/image.png
  src/components/pages/home-new/aci/index.js
  src/components/pages/home-new/connect/connect.jsx
  src/pages/index.jsx
Due: prettier --write, eslint --cache --fix

feat: enhance ACI component with prop types and dynamic content
  src/components/pages/home-new/aci/aci.jsx
  src/data/pages/index/index.jsx
Due: prettier --write, eslint --cache --fix

refactor: update ACI component layout
  src/components/pages/home-new/aci/aci.jsx
  src/data/pages/index/index.jsx
Due: prettier --write, eslint --cache --fix

feat: update connect videos
  static/videos/pages/connect/how-it-works/connect.hevc.mp4
  static/videos/pages/connect/how-it-works/connect.webm
  static/videos/pages/connect/how-it-works/tools.hevc.mp4
  static/videos/pages/connect/how-it-works/tools.webm
Due: none

feat: update connect videos (#430)
  static/videos/pages/connect/how-it-works/connect.hevc.mp4
  static/videos/pages/connect/how-it-works/connect.webm
  static/videos/pages/connect/how-it-works/tools.hevc.mp4
  static/videos/pages/connect/how-it-works/tools.webm
Due: none

fix: update tools video poster
  static/videos/pages/connect/how-it-works/tools.jpg
Due: none

fix: update tools video poster (#431)
  static/videos/pages/connect/how-it-works/tools.jpg
Due: none

feat: add homepage connect section (#417)
  package-lock.json
  src/components/pages/home-new/aci/aci.jsx
  src/components/pages/home-new/aci/images/image-mobile.png
  src/components/pages/home-new/aci/images/image.png
  src/components/pages/home-new/aci/index.js
  src/components/pages/home-new/code-with-inbox/code-with-inbox.jsx
  src/components/pages/home-new/connect/connect.jsx
  src/components/pages/home-new/connect/images/blob.jpg
  src/components/pages/home-new/connect/index.js
  src/components/shared/reusable-sections/code-section-new/code-section-new.jsx
  src/components/shared/reusable-sections/cta-with-form/cta-with-form.jsx
  src/components/shared/reusable-sections/inbox/inbox-component/inbox-component.jsx
  src/components/shared/reusable-sections/inbox/inbox-component/slider.css
  src/components/shared/reusable-sections/text-with-picture/text-with-picture.jsx
  src/data/pages/index/index.jsx
  src/pages/index.jsx
Due: prettier --write, eslint --cache --fix

web: update homepage hero headline and subtitle (fixes MRK-1815)
  src/components/pages/home/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

web: Update homepage hero headline and subtitle (fixes MRK-1815) (#432)
  src/components/pages/home/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

feat: add 30sec video link
  src/components/pages/home-new/connect/connect.jsx
Due: prettier --write, eslint --cache --fix

feat: add 30sec video link (#433)
  src/components/pages/home-new/connect/connect.jsx
Due: prettier --write, eslint --cache --fix

feat: connect section copy update
  src/components/pages/home-new/connect/connect.jsx
Due: prettier --write, eslint --cache --fix

feat: connect section copy update (#434)
  src/components/pages/home-new/connect/connect.jsx
Due: prettier --write, eslint --cache --fix

feat: add proxy settings for aci page
  netlify.toml
  src/components/shared/link/link.jsx
Due: prettier --write, eslint --cache --fix

feat: content update
  src/constants/links.js
  src/constants/menus.js
  src/data/link-banner.js
  src/data/pages/index/index.jsx
Due: prettier --write, eslint --cache --fix

feat: add proxy settings for aci page (#435)
  netlify.toml
  src/components/shared/link/link.jsx
  src/constants/links.js
  src/constants/menus.js
  src/data/link-banner.js
  src/data/pages/index/index.jsx
Due: prettier --write, eslint --cache --fix

fix: cli demo video
  src/components/pages/home-new/connect/connect.jsx
  src/components/shared/modal/modal.jsx
  static/videos/cli-demo.hevc.mp4
  static/videos/cli-demo.webm
Due: prettier --write, eslint --cache --fix

fix: hover for modal close button
  src/icons/close.inline.svg
Due: none

feat: add Product Hunt badge to connect section
  src/components/pages/home-new/connect/connect.jsx
  src/components/shared/product-hunt-badge/index.js
  src/components/shared/product-hunt-badge/product-hunt-badge.jsx
  src/icons/product-hunt.inline.svg
Due: prettier --write, eslint --cache --fix

fix: unsafe rel overrides
  src/components/shared/product-hunt-badge/product-hunt-badge.jsx
Due: prettier --write, eslint --cache --fix

fix: cli demo video (#436)
  src/components/pages/home-new/connect/connect.jsx
  src/components/shared/modal/modal.jsx
  src/components/shared/product-hunt-badge/index.js
  src/components/shared/product-hunt-badge/product-hunt-badge.jsx
  src/icons/close.inline.svg
  src/icons/product-hunt.inline.svg
  static/videos/cli-demo.hevc.mp4
  static/videos/cli-demo.webm
Due: prettier --write, eslint --cache --fix

fix: point dashboard CTAs to root URL (#421)
  src/components/pages/pricing/hero-with-cards/cloud/cloud.jsx
  src/components/pages/pricing/pricing-table/data/pricing-plans.js
  src/constants/links.js
  src/data/pages/framework/index.jsx
  src/data/pages/pricing/index.js
Due: prettier --write, eslint --cache --fix

fix(seo): server-render Google Tag Manager site-wide
  gatsby-ssr.js
  src/components/shared/seo/seo.jsx
Due: prettier --write, eslint --cache --fix

fix(seo): server-render Google Tag Manager site-wide (#437)
  gatsby-ssr.js
  src/components/shared/seo/seo.jsx
Due: prettier --write, eslint --cache --fix

feat(analytics): fire attributed demo_booked event on Cal.com bookings
  gatsby-browser.js
Due: prettier --write, eslint --cache --fix

fix(analytics): set demo-booking init guard only after listener registers
  gatsby-browser.js
Due: prettier --write, eslint --cache --fix
